// Importazione Font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Lobster&family=Loved+by+the+King&family=Oswald:wght@300;700&display=swap');

// Importazione variabili
@import "./variables.scss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}