// Colore quadrati
$quadrato-rosso: #FF2E2E;
$quadrato-rosso-sfocato: rgba(255, 46, 46, 0.7);

$quadrato-blu: #2E89FF;
$quadrato-blu-sfocato: rgba(46, 137, 255, 0.7);

$Lato: 'Lato', sans-serif;

$Lobster: 'Lobster', cursive;

$Loved: 'Loved by the King', cursive;

$Oswald: 'Oswald', sans-serif;


