// Colore quadrati
$quadrato-rosso: #FF2E2E;

$quadrato-blu: #2E89FF;

$Lato: 'Lato', sans-serif;

$Lobster: 'Lobster', cursive;

$Loved: 'Loved by the King', cursive;

$Oswald: 'Oswald', sans-serif;


